@using Umbraco.Examine.Linq;
@using Umbraco.Examine.Linq.Models
@using Umbraco.Examine.Linq.Extensions
@using LinqToExamine.Sandbox.Models
@using LinqToExamine.Sandbox.Controllers

@inherits WebViewPage<PatientListSearchModel>

@{ 
    var customSearcher = new Searcher();
    var customMapper = new SearchMapper();

    #region standard search demo

    var indexQuery = new Index<Result>(customSearcher).Where(r =>
                            r.Name.Contains("flowers") //&& r.CreatedDate > DateTime.Parse("1/25/2016 7:58:50 PM")
                                            );

    #endregion

    #region Patient Demo
    /**
    var indexQuery = new Index<PatientQueryModel>(customSearcher, customMapper).AsQueryable();

    if (!string.IsNullOrEmpty(Model.Query))
    {
        indexQuery = indexQuery.Where(p => (p.FirstName.Contains(Model.Query) || p.LastName.Contains(Model.Query)));
    }
    **/
    /**
    if (Model.DOBFrom.HasValue && Model.DOBTo.HasValue)
    {
        indexQuery = indexQuery.Where(p => p.DateOfBirth > Model.DOBFrom.Value && p.DateOfBirth < Model.DOBTo.Value);
    }
    **/
    /**
    if (Model.UKCitizenOnly)
    {
        indexQuery = indexQuery.Where(p => p.IsUKCitizen == true);
    }
    **/
    #endregion

    var searchResults = indexQuery.ToList();
}

<div class="umb-grid">
    <div class="row clearfix">
        <div class="container">
            @Html.Partial("PatientSearch", new LinqToExamine.Sandbox.Models.PatientListSearchModel())
            
            @if (customSearcher.LuceneQuery != "")
            {
                <div>Lucene Query: <b>@customSearcher.LuceneQuery</b></div>
            }
            
            <table class="col-md-12">
                @foreach (var result in searchResults)      //.OrderBy(r => r.DateOfBirth))
                {
                    #region Patient Demo
                    @*<tr>
                        <td>@result.Title</td>
                        <td>@result.FirstName</td>
                        <td>@result.LastName</td>
                        <td>@result.Gender</td>
                        <td>@result.Email</td>
                        <td>@result.DateOfBirth.ToString("dd/MM/yyyy")</td>
                    </tr>*@
                    #endregion
                    #region standard search demo
                    <tr>
                        <td>@result.Name</td>
                        <td>@result.NodeTypeAlias</td>
                        <td>@result.CreatedDate</td>
                    </tr>
                    #endregion
                }
            </table>
        </div>
    </div>
    
</div>